@page
@model ZooWeb.Pages.Employees.CreateModel
@{
}

<br>
<h2>New Employee</h2>
<br>

@if (Model.errorMsg.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMsg</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<form method="POST">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">First Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Fname" value="@Model.info.Fname">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Last Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Lname" value="@Model.info.Lname">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Phone Number</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Phone_num" value="@Model.info.Phone_num">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Department</label>
		<div class="col-sm-6">
			<select class="form-control" name="Dno" value="@Model.info.Dno">
				@foreach (ListTable item in Model.departmentList)
				{
					<option value="@(item.Key)">@item.Display</option>
				}
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Supervisor</label>
		<div class="col-sm-6">
			<select class="form-control" name="Super_Eid" value="@Model.info.Super_Eid">
				<option value="">-</option>
				@foreach (ListTable item in Model.employeeList)
				{
					<option value="@(item.Key)">@item.Display</option>
				}
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Email</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Email" value="@Model.info.Email">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Salary</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Salary" value="@Model.info.Salary">
		</div>
	</div>

	@if (Model.successMsg.Length > 0)
	{
	<div class="row mb-3">
		<div class="col-sm-9">
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>@Model.successMsg</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>
</form>