@page
@model ZooWeb.Pages.TicketSales.IndexModel
@{
}

<br>
<h2>List of Ticket Sales</h2>
<a class='btn btn-primary btn-sm' href="/TicketSales/Create">New Ticket Sale</a>
<table class="table">
	<thead>
		<tr>
			<th>Receipt Number</th>
			<th>Date</th>
			<th>Total</th>
			<th>Ticket ID</th>
			<th>Pass Type</th>
			<th>Visitor Phone</th>
			<th>Employee ID</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.ListTicketSales)
		{
			<tr>
				<td>@item.ReceiptNumber</td>
				<td>@item.Date</td>
				<td>@item.Total</td>
				<td>@item.TicketID</td>
				<td>@item.PassType</td>
				<td>@item.VisitorPn</td>
				<td>@item.EmployeeID</td>


				<td>
					<a class='btn btn-primary btn-sm' href="/TicketSales/Edit?receiptNumber=@item.ReceiptNumber">Edit</a>
					<a class='btn btn-danger btn-sm' href="/TicketSales/Delete?receiptNumber=@item.ReceiptNumber">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
