@page
@model ZooWeb.Pages.Restricted.EditModel
@{
}

<br>
<h2>Edit Restriction</h2>
<br>

@if (Model.errorMsg.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMsg</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<form method="POST">
	<input type="hidden" name="id" value="@Model.info.Location_ID">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Location_ID</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Location_ID" value="@Model.info.Location_ID">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Close Date</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Close_date" value="@Model.info.Close_date">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Reopen Date</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Reopen_date" value="@Model.info.Reopen_date">
		</div>
	</div>

    @if (Model.successMsg.Length > 0)
	{
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.successMsg</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
	}

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>