@page
@model ZooWeb.Pages.Enclosures.CreateModel
@{
}

<br>
<h2>New Enclosure</h2>
<br>

@if (Model.errorMsg.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMsg</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<form method="POST">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Location ID</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="LocationId" value="@Model.info.LocationID">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Biome Type</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Type" value="@Model.info.Type">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Capacity</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Capacity" value="@Model.info.Capacity">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Number of Occupants</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="OccupantNum" value="@Model.info.Occupant_Num">
		</div>
	</div>

	@if (Model.successMsg.Length > 0)
	{
		<div class="row mb-3">
			<div class="col-sm-9">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>@Model.successMsg</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>
</form>