@page
@model ZooWeb.Pages.AmenitySales.IndexModel
@{
}
<br>
<h2>List of Amenity Sales</h2>
<a class='btn btn-primary btn-sm' href="/AmenitySales/Create">New Amenity Sales</a>
<table class="table">
    <thead>
		<tr>
			<th>Employee Id</th>
			<th>Location ID</th>
			<th>Salary Type</th>
			<th>Sale Date</th>
			<th>Total</th>
		</tr>
    </thead>
	<tbody>
		@foreach(var item in Model.ListAmentySales)
		{
			<tr>
				<td>@item.EID</td>
				<td>@item.LocationID</td>
				<td>@item.SaleType</td>
				<td>@item.SaleDate</td>
				<td>@item.SaleTotal</td>
				<td>
					<a class='btn btn-primary btn-sm' href="/AmenitySales/Edit?id=@item.SaleId">Edit</a>
					<a class='btn btn-danger btn-sm' href="/AmenitySales/Delete?id=@item.SaleId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
