@page
@model ZooWeb.Pages.FeedingPatterns.CreateModel
@{
}

<br>
<h2>New Enclosure</h2>
<br>

@if (Model.errorMsg.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMsg</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<form method="POST">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Animal ID</label>
		<div class="col-sm-6">
			<select class="form-control" name="AnimalId" value="@Model.info.Animal_ID">
				@foreach (AnimalListTable item in Model.animalList)
				{
					<option value="@(item.Key)">@item.Display</option>
				}
			</select>
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Meal</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Meal" value="@Model.info.Meal">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Portion</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Portion" value="@Model.info.Portion">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Feeding Days</label>
		<div class="col-sm-6">
			<div>
				<input type="checkbox" name="ScheduleDays" value="Monday"> Monday
				<input type="checkbox" name="ScheduleDays" value="Tuesday"> Tuesday
				<input type="checkbox" name="ScheduleDays" value="Wednesday"> Wednesday
				<input type="checkbox" name="ScheduleDays" value="Thursday"> Thursday
				<input type="checkbox" name="ScheduleDays" value="Friday"> Friday
				<input type="checkbox" name="ScheduleDays" value="Saturday"> Saturday
				<input type="checkbox" name="ScheduleDays" value="Sunday"> Sunday
			</div>
		</div>
	</div>
	<div class="row mb-3">
        <label class="col-sm-3 col-form-label">Feeding Time</label>
		<div class="col-sm-6">
			<input type="time" class="form-control" name="ScheduleTime" value="@Model.info.Schedule_time">
		</div>
	</div>

	@if (Model.successMsg.Length > 0)
	{
		<div class="row mb-3">
			<div class="col-sm-9">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>@Model.successMsg</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/FeedingPatterns" role="button">Cancel</a>
		</div>
	</div>
</form>